<main id="scroll-container">
	<section class="container">
		<%= render 'nav' %>
		<div class="section-side-content" id="home-section">
			<article class="content-center" id="home-content">
				<img src="img/logoligth.png" id="logoligth-img" alt="LOGO IMG">
				<span class="site-lan text-dark text-bg-light">EN</span>
				<h1 class="header-3 text-center text-bg-primary text-light"><span class="header-3 text-light">WELCOME!</span><br>Hoping to expand Clasical Music</h1>
				<div class="text-center" id="home-more">
					<span class="header-3">
						<i class="text-light fas fa-angle-double-down"></i>
					</span>
				</div>
			</article>
		</div>
	</section>

	<section class="container" id="page2">
		<article class="header-1 content-center">
			<div class="duo-grid">
				<div class="in-grid">
					<div class="grid-element1">
						<p>Inició sus estudios musicales a los 4 años, luego decidió concentrarse en el piano ingresando a la Escuela Superior de Música de México. Se ha presentado como solista y músico de cámara en varios festivales y masterclasses en México, Bélgica, Portugal, Francia, Holanda e Italia. Desde el año 2017 es alumno en el Conservatorio Real de Bruselas bajo la dirección de los profesores Mikhaïl Faerman y Xavier Locus.</p>
					</div>
					<div class="grid-element2">
						<div class="slider">
							<div class="slide-track">
								<div class="slide">
									<%= image_tag "abe1.jpg", alt: 'Abe image 1', class: 'about-image' %>
								</div>
								<div class="slide">
									<%= image_tag "abe2.jpg", alt: 'Abe image 2', class: 'about-image' %>
								</div>
								<div class="slide">
									<%= image_tag "abe3.png", alt: 'Abe image 3', class: 'about-image' %>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="in-grid">
					<div class="grid-element1">
						<div class="slider">
							<div class="slide-track">
								<div class="slide">
									<%= image_tag "mikhail1.jpg", alt: 'Mikhail image 1' , class: 'about-image' %>
								</div>
								<div class="slide">
									<%= image_tag "mikhail2.jpg", alt: 'Mikhail image 2' , class: 'about-image' %>
								</div>
								<div class="slide">
									<%= image_tag "mikhail3.jpg", alt: 'Mikhail image 3' , class: 'about-image' %>
								</div>
								<div class="slide">
									<%= image_tag "mikhail5.png", alt: 'Mikhail image 5' , class: 'about-image' %>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-element2">
						<p>Mikhail Faerman ganó el Concurso Queen Elisabeth en 1975. Posteriormente dio algunos conciertos en diferentes países, realizó grabaciones en radio y televisión. Pero se dedicó principalmente a la docencia Primero en Mons (http://www.conservatoire-mons.be/), luego en Bruselas (http://www.conservatoire.be/) donde seguirá acompañando a sus alumnos hasta el próximo año, Su docencia ha formado a numerosos pianistas de gran calidad durante más de 40 años y su manera única de transmitir sus enseñanzas lo han puesto como una referencia pianistica por excelencia en Bélgica.
						Nunca ha sido un solista reconocido a pesar de su virtuosismo por falta de "gestión". Además, habla diferentes idiomas, pero solo escribe el idioma ruso. Todo esto hace que no sólo es "poco conocido", sino también poco reconocido para gran pesar de cualquiera que lo haya escuchado tocar el piano.
						Nuestro objetivo es no dejar que todo esto se pierda y compartir un poco de su magia.</p>
					</div>
				</div>
			</div>
		</article>
	</section>

	<section class="container" id="page3">
		<article class="header-1 content-center">
			MISSION PAGE
		</article>
	</section>

	<section class="container" id="page4">
		<article class="header-1 content-center">
			GALERY
		</article>
	</section>

	<section class="container">
		<article class="header-1 content-center"> 
			Footer Goes Here! 
		</article>
	</section>

</main>