<main id="scroll-container">
	<section class="container">
		<%= render 'nav' %>
		<div class="section-side-content" id="home-section">
			<article class="content-center" id="home-content">
				<img src="img/logoligth.png" id="logoligth-img" alt="LOGO IMG">
				<span class="site-lan text-dark text-bg-light">EN</span>
				<h1 class="header-3 text-center text-bg-primary text-light"><span class="header-3 text-light">WELCOME!</span><br>Hoping to expand Clasical Music</h1>
				<div class="text-center" id="home-more">
					<span class="header-3">
						<i class="text-light fas fa-angle-double-down"></i>
					</span>
				</div>
			</article>
		</div>
	</section>

	<section class="container" id="page2">
		<article class="header-1 content-center">
			<div>
			<p>TEXT TEXT TEXT</p>
				<div class="slider">
					<div class="slide-track">
						<div class="slide">
							<%= image_tag "abe1.jpg", alt: 'Abe image 1', class: 'about-image' %>
						</div>
						<div class="slide">
							<%= image_tag "abe2.jpg", alt: 'Abe image 2', class: 'about-image' %>
						</div>
						<div class="slide">
							<%= image_tag "abe3.png", alt: 'Abe image 3', class: 'about-image' %>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="slider">
					<div class="slide-track">
						<div class="slide">
							<%= image_tag "mikhail1.jpg", alt: 'Mikhail image 1' , class: 'about-image' %>
						</div>
						<div class="slide">
							<%= image_tag "mikhail2.jpg", alt: 'Mikhail image 2' , class: 'about-image' %>
						</div>
						<div class="slide">
							<%= image_tag "mikhail3.jpg", alt: 'Mikhail image 3' , class: 'about-image' %>
						</div>
						<div class="slide">
							<%= image_tag "mikhail5.png", alt: 'Mikhail image 5' , class: 'about-image' %>
						</div>
					</div>
				</div>
				<p>TEXT TEXT</p>
			</div>
		</article>
	</section>

	<section class="container" id="page3">
		<article class="header-1 content-center">
			MISSION PAGE
		</article>
	</section>

	<section class="container" id="page4">
		<article class="header-1 content-center">
			GALERY
		</article>
	</section>

	<section class="container">
		<article class="header-1 content-center"> 
			Footer Goes Here! 
		</article>
	</section>

</main>